<div class="container mt-4 mb-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col">URL Video</th>
                <th scope="col" colspan="3">Tác Giả</th>
            </tr>
        </thead>
        <tbody>
            {{#each song}}
            <tr>
                <th scope="row">{{sum @key 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.url}}</td>
                <td>{{this.author}}</td>
                <td><a href="/movies/{{this.slug}}/edit" class="btn btn-info">Sửa</a></td>
                <td><a href="/movies/{{this.slug}}/remove" class="btn btn-danger">Xoá</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>